<section>
    <div class="title">
        <h1>Hero</h1>
    </div>
    <div class="body">
        <div class="hero-detail">
            <h2>Hero list</h2>
            <div class="hero-detail-body">
                <img [style.background-image]="'url('+ (selectedHero.imgUrl || 'http://demo.sc.chinaz.com/Files/pic/icons/5285/260.png')+')'">
                <div class="hero-info">
                    <p>Hero Name: {{selectedHero.name || 'unkown'}}</p>
                    <p>Hero Age: {{selectedHero.age || 'unkown'}}</p>
                    <button (click)="onClick(selectedHero.name)">Say Hello</button>
                </div>
            </div>
        </div>
        <div class="hero-list">
            <h2>Hero list</h2>
            <ul>
                <li *ngFor="let h of heros">
                    <span (click)="selectedHero = h"> {{h.name}} {{h.age}}</span>
                </li>
            </ul>
        </div>
    </div>
</section>
